{{extend 'default/layout_default.html'}}

<div>
    <p>This webapp takes a file containing words separated on new lines and returns groups of words that are anagrams.</p>

    <!-- TODO: These <br>s are quick and dirty... put margins in CSS instead -->
    <br>
    <p><a href="{{=URL('static', 'files/easecentral_anagrams_sample_input_short.txt')}}">Sample input file 1 (short)</a></p>
    <p><a href="{{=URL('static', 'files/easecentral_anagrams_sample_input_long.txt')}}">Sample input file 2 (long)</a></p>
    <br>

    <form action="#" enctype="multipart/form-data" method="POST" class="form-inline">
        <div class="form-group form-group-lg">
            <label for="file">Input text file:</label>
            <input class="form-control" type="file" name="uploadfile" placeholder="Input text file">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

</div>