{{extend 'default/layout_default.html'}}

<div>
    <img class="contactdb-schema" src={{=URL('static', 'img/easecentral_contactdb_schema.png')}}>
    <!-- TODO: These <br>s are quick and dirty... put margins in CSS instead -->
    <br>
    <br>
    <a href="{{=URL('static', 'files/easecentral_contactdb_create.sql')}}">Create database script (MySQL)</a>
    <br>
    <br>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        Display people and their phone numbers
                    </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>SELECT c.*, pn.*</p>
                    <p>FROM contact c</p>
                    <p>LEFT JOIN phone_number pn ON pn.contact_id = c.id;</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        Display people and their addresses
                    </a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>SELECT c.*, a.*</p>
                    <p>FROM contact c</p>
                    <p>LEFT JOIN address a ON a.contact_id = c.id;</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                        Display people and their addresses only if they are in the state of California
                    </a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>SELECT c.*, a.*</p>
                    <p>FROM contact c</p>
                    <p>LEFT JOIN address a ON a.contact_id = c.id</p>
                    <p>JOIN state s ON s.id = a.state_id</p>
                    <p>WHERE s.name = 'California';  -- Could substitute s.ID for performance</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                        Show how many people have addresses in each state
                    </a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>SELECT s.name AS 'state', COUNT(c.id) AS 'num_contacts'</p>
                    <p>FROM contact c</p>
                    <p>LEFT JOIN address a ON a.contact_id = c.id</p>
                    <p>JOIN state s ON s.id = a.state_id</p>
                    <p>GROUP BY s.id;</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                        Show the % of people that have multiple addresses
                    </a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
</div>